@import url(reset.css);
/* layout.css */

/* common */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

body{font-size:14px;font-family:'Noto Sans','Noto Sans KR', sans-serif;color: #333;}
a{text-decoration: none;color: #333;}
a:hover{text-decoration: none; color: #333;}
h2{font-size: 38px;font-weight: 600;}

/* layout */
#wrap{width: 100%;}
  #header{z-index: 40; position: relative; width: 100%;min-width: 1200px;height: 70px;}
    .header_wrap{position: absolute;left: 0;top: 0;width: 100%;height: 70px;background-color: #F3F3F3;}
      .header_inner{position: relative;width:100%;height: 70px;background-color: #fff;} /*이너가 헤드랩위에 있다*/
      #container{width: 100%;}
  .sitemap{width: 100%;background-color: #f3f3f3;}
  #footer{position: relative;width: 100%;height: 185px;background-color: #474a4f;}
    .foot_inner{width: 1142px;margin: 0 auto;padding: 20px 0;}

/* layout main */
.main_visual{z-index: 30; position: relative;width: 100%;/*border: 1px solid red;*/}
    .content1{display: flex;flex-direction: column;align-items: center; width: 1142px;margin: 0 auto 80px;padding: 90px 0 120px;}
    .content2{width: 100%;margin-top: 125px;padding:70px 323px 60px;background: url(../images/img_prhall.png) no-repeat 102% 50% ,url(../images/bg_prhall.jpg) no-repeat 0 0;box-sizing: border-box;}
    .content3{width: 100%;padding: 130px 0 180px; background-color: #f4f7fb;}

/* layout sub1,2 */
.spot{width: 100%; height: 320px;}
  .spot_inner{position: relative;width: 1142px;height: 320px;margin: 0 auto;padding-top: 100px;box-sizing: border-box;}
#content{width: 1142px;margin: 0 auto; padding: 100px 0 160px;}
